name: CGL
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  cgl:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      # Prepare environment
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          tools: composer:v2, composer-unused
          coverage: none

      # Validation
      - name: Validate composer.json
        run: composer validate

      # Install dependencies
      - name: Install Composer dependencies
        uses: ramsey/composer-install@v3

      # Check Composer dependencies
      - name: Check for unused dependencies
        run: composer-unused --excludePackage=cpsit/project-builder

      # Linting
      - name: Lint composer.json
        run: composer lint:composer
      - name: Lint .editorconfig
        run: composer lint:editorconfig
      - name: Lint Twig templates
        run: composer lint:twig

      # Schema
      - name: Validate config.yaml against JSON schema
        run: composer validate-schema
